vim/vim/addons
*.elc
/emacs/emacs.d/ac-comphist.dat
/emacs/emacs.d/.smex-items
/emacs/emacs.d/semanticdb/*
/emacs/emacs.d/.emacs.desktop
/emacs/emacs.d/.emacs.desktop.lock
/emacs/emacs.d/eshell/history
/emacs/emacs.d/eshell/lastdir
/emacs/emacs.d/history
/emacs/emacs.d/tramp
/emacs/emacs.d/url/cookies
/emacs/emacs.d/helm-c-adaptive-history
/emacs/emacs.d/bookmarks.local
/emacs/emacs.d/bookmarks
/emacs/emacs.d/server
/emacs/emacs.d/var
/emacs/emacs.d/snippets/sql-mode/connect.yasnippet
/emacs/emacs.d/lisp/maio-local.el
/emacs/emacs.d/url/cache/*
.yas-compiled-snippets.el
/emacs/emacs.d/recentf
/emacs/emacs.d/ido.last
/emacs/emacs.d/.cask/
/emacs/emacs.d/projectile.cache
/emacs/emacs.d/projectile-bookmarks.eld
