[submodule "vim/vim/vim-addons/vim-addon-manager"]
	path = vim/vim/vim-addons/vim-addon-manager
	url = https://github.com/MarcWeber/vim-addon-manager.git
[submodule "emacs/emacs.d/evil-plugins/surround"]
	path = emacs/emacs.d/evil-plugins/surround
	url = https://github.com/timcharper/evil-surround.git
