[submodule "vim/vim/vim-addons/vim-addon-manager"]
	path = vim/vim/vim-addons/vim-addon-manager
	url = http://github.com/MarcWeber/vim-addon-manager.git
[submodule "emacs/emacs.d/evil-plugins/surround"]
	path = emacs/emacs.d/evil-plugins/surround
	url = http://github.com/timcharper/evil-surround.git
[submodule "emacs/emacs.d/evil-plugins/leader"]
	path = emacs/emacs.d/evil-plugins/leader
	url = http://github.com/cofi/evil-leader
[submodule "emacs/emacs.d/evil"]
	path = emacs/emacs.d/evil
	url = http://git.gitorious.org/evil/evil.git
[submodule "emacs/emacs.d/php-mode"]
	path = emacs/emacs.d/php-mode
	url = http://github.com/ejmr/php-mode.git
[submodule "emacs/emacs.d/helm"]
	path = emacs/emacs.d/helm
	url = http://github.com/emacs-helm/helm.git
[submodule "emacs/emacs.d/projectile"]
	path = emacs/emacs.d/projectile
	url = http://github.com/bbatsov/projectile.git
[submodule "emacs/emacs.d/cperl-mode"]
	path = emacs/emacs.d/cperl-mode
	url = http://github.com/maio/cperl-mode.git
[submodule "emacs/emacs.d/enotify"]
	path = emacs/emacs.d/enotify
	url = http://github.com/laynor/enotify.git
[submodule "emacs/emacs.d/helm-ls-git"]
	path = emacs/emacs.d/helm-ls-git
	url = http://github.com/emacs-helm/helm-ls-git.git
