snippet sub
	sub ${1:name} {
		${2}
	}

snippet desc
	describe '${1:Something}' => sub {
		${2}
	};
snippet it
	it '${1:does something}' => sub {
		${2}
	};
snippet is
	is(${1}, ${2});${3}
snippet tester
	sub ${1:name} {
		my (${2:args}) = @_;
		local $Test::Builder::Level = $Test::Builder::Level + 1;

		${3:test}
	}
snippet in
	my (${1:args}) = @_;${2}
